# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Log files
*.log

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
